.main {
  .page-header {

    .container {
      .page-header-title {
        margin-left: auto;
        display: flex;
        justify-content: start;
        margin-right: auto;
        max-width: 858px;
        margin-bottom: 20px;
      }
    }
  }
}